<!doctype html>
<html>

<head>
  <!--<base href="/">-->
  <meta charset="utf-8">
  <title>DC Cast Admin</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/png" href="./favicon.png" />
<link href="index-9c75d755cea341c9d479e82c605012fb.css" rel="stylesheet"></head>

<body ng-app="app">
  <div class="todoapp mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header is-small-screen">
    <fs-nav></fs-nav>
    <ui-view class="main-container" style="z-index: 1;margin-top: 55px;"></ui-view>
  </div>
  <div class="modal fade bs-example-modal-sm" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alert">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="mySmallModalLabel">Alert</h4>
        </div>
        <div class="modal-body">
          {{$root.alertStr}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="alertCancel">취소</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" id="alertOk">확인</button>
        </div>
      </div>
    </div>
  </div>
  <div id="toast-container" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
  </div>
<script type="text/javascript" src="vendor-ea68bdad57bb416faa87.js"></script><script type="text/javascript" src="app-ea68bdad57bb416faa87.js"></script></body>
<!-- <script type="text/javascript">ES6Promise.polyfill()</script> -->

</html>
